<div class="group">
  <%= f.label :title %><%= f.error_message_on :title %>
  <%= f.text_field :title, :class => :text_field %>
  <span class="description">Ex: a simple text</span>
</div>
<div class="group">
  <%= f.label :body %><%= f.error_message_on :body %>
  <%= f.text_area :body, :class => :text_area %>
  <span class="description">Ex: a simple text</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:posts, :index)}';return false", :class => :button %>
</div>
